.carousel-item {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.carousel-item img {
    width: 100%;
    height: 100vh;
}

.carousel-content {
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: 20;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.text-items {
    text-align: left;
}

.categori img {
    width: 150px;
}

.button {
    margin-left: 45%;
}

.company img {
    max-width: 120px;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .carousel-item img {
        width: 100%;
        height: 50vh;
    }

    .course img {
        width: 100%;
    }
}